<include file="Public/base" />
<link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">
<style>
textarea{resize:vertical}
</style>
<script src="__JS__/plugins/iCheck/icheck.min.js"></script>
<script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
<script src="__JS__/plugins/validate/messages_zh.min.js"></script>
<script src="__JS__/demo/form-validate-demo.min.js"></script>
<body class="gray-bg">
    <div class="wrapper animated fadeInRight">
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-sm-12">
				<ol class="breadcrumb m-t">
					<li>
						<a href="{:U('admin/index/main')}" class="btn btn-outline btn-link">管理中心</a>
					</li>
					<if condition="Is_Auth('Admin/Config/index')">
					<li>
						<a href="{:U('admin/config/index')}" class="btn btn-outline btn-link">配置列表</a>
					</li>
					</if>
					<if condition="Is_Auth('Admin/Config/add')">
					<li>
						<a href="{:U('admin/config/add')}" class="btn btn-outline btn-link">添加配置</a>
					</li>
					</if>
					<li>
						<strong>修改配置</strong>
					</li>
				</ol>
			</div>
		</div>
        <div class="row m-t">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" action="{:U('admin/config/edit')}">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">配置名称：</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" value="{$info.name}" class="form-control" aria-required="true" aria-invalid="true" class="error">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">配置值：</label>
                                <div class="col-sm-10">
                                    <input type="text" name="value" value="{$info.value}" class="form-control" aria-required="true" aria-invalid="true" class="error">
                                </div>
                            </div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">配置类型：</label>
                                <div class="col-sm-10">
                                    <select name="type" class="form-control m-b" autocomplete="off">
										<volist name="type_list" id="type">
                                        <option value="{$type.type}" <eq name="info.type" value="$type.type">selected="selected"</eq>>{$type.title}</option>
										</volist>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">配置说明：</label>
                                <div class="col-sm-10">
                                    <input type="text" name="title" value="{$info.title}" class="form-control" aria-required="true" aria-invalid="true" class="error">
                                </div>
                            </div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">配置分组：</label>
                                <div class="col-sm-10">
                                    <select name="group" class="form-control m-b" autocomplete="off">
										<volist name="group_list" id="group">
                                        <option value="{$group.type}" <eq name="group.type" value="$info.group">selected="selected"</eq>>{$group.title}</option>
										</volist>
                                    </select>
                                </div>
                            </div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">配置参数：</label>
								<div class="col-sm-10">
									<textarea name="extra" class="form-control">{$info.extra}</textarea>
								</div>
                            </div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">配置介绍：</label>
								<div class="col-sm-10">
									<textarea name="remark" class="form-control">{$info.remark}</textarea>
								</div>
                            </div>
							<div class="form-group">
                                <label class="col-sm-2 control-label">状态：</label>
                                <div class="col-sm-10">
									<div class="radio">
                                        <label><input type="radio" name="status" value="1" <eq name="info.status" value="1">checked="checked"</eq>> 启用</label>
                                    </div>
									<div class="radio">
                                        <label><input type="radio" name="status" value="0" <neq name="info.status" value="1">checked="checked"</neq>> 禁用</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">排序：</label>
                                <div class="col-sm-10">
                                    <input type="text" name="sort" value="{$info.sort}" class="form-control">
                                </div>
                            </div>
							
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
									<input type="hidden" name="id" value="{$info.id}" />
                                    <button class="btn btn-primary" type="submit">提交修改</button>
                                    <button class="btn btn-white" type="button" onclick="javascript:history.go(-1);">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<!-- Mirrored from www.zi-han.net/theme/hplus/form_basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:15 GMT -->
</html>
