<include file="Public/base" />
<link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__JS__/plugins/easyui/themes/metro-gms/easyui.css">
<link rel="stylesheet" type="text/css" href="__JS__/plugins/easyui/themes/color.css">
<link href="__CSS__/plugins/datapicker/datepicker3.css" rel="stylesheet">
<style>
textarea{resize:vertical}
</style>
<script src="__JS__/plugins/iCheck/icheck.min.js"></script>
<script src="__JS__/plugins/validate/jquery.validate.min.js"></script>
<script src="__JS__/plugins/validate/messages_zh.min.js"></script>
<script src="__JS__/demo/form-validate-demo.min.js"></script>
<script src="__JS__/plugins/datapicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__JS__/plugins/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__JS__/plugins/easyui/locale/easyui-lang-zh_CN.js"></script>
<script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<body class="gray-bg">
    <div class="wrapper animated fadeInRight">
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-sm-12">
				<ol class="breadcrumb m-t">
					<li>
						<a href="{:U('admin/index/main')}" class="btn btn-outline btn-link">管理中心</a>
					</li>
					<if condition="Is_Auth('Admin/Company/index')">
					<li>
						<a href="{:U('admin/Company/index')}" class="btn btn-outline btn-link">完全匹配</a>
					</li>
					</if>
					<li>
						<strong>添加任务</strong>
					</li>
				</ol>
			</div>
		</div>
        <label class="input-group input-daterange col-sm-4">
            <span class="input-group-addon">匹配时间</span>
            <input type="text" name="start" value="<notempty name="Think.get.start">{$Think.get.start}</notempty>" class="form-control">
        </label>
        <div class="ibox-content" >
            <div id="condition-search" style="display: block; float: left" class="col-sm-8">
                <form method="get">
                    <label class="input-group col-sm-4">
                        <input type="text" class="form-control" id="package" name="company_name" placeholder='请输入公司名,全部敲空格' value="{$Think.get.company_name}">
                        <span class="input-group-btn">
										<button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu dropdown-menu-right" role="menu">
										</ul>
									</span>
                    </label>
                    <label class="input-group col-sm-8">
                        <input type="hidden" name="m" value="admin" />
                        <input type="hidden" name="a" value="exactSearch" />
                        <input type="hidden" name="c" value="match" />
                    </label>
                    <label class="col-sm-4 text-right pull-right"><button type="submit" class="btn btn-outline btn-primary">立即搜索</button></label>
                </form>
            </div>
            <div id="content" style="display: block" >

                <table class="footable table table-stripped" data-filter=#filter>
                    <thead>
                    <tr>
                        <th>TD企业</th>
                        <th class="center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="info">
                        <tr>
                            <td id="{$info.id}">{$info.unicom_name}</td>
                            <td class="center"><button id="cancel_company" onclick="cancel()" value="{$info.id}">取消选择</button></td>
                        </tr>
                    </volist>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="8" class="footable-visible">
                            <notempty name="page">
                                <label class="col-sm-3 pull-left">
                                    <span class="col-sm-12 pull-left">共有{$page_count}条记录 </span> <span class="col-sm-12 pull-left"> <input type="hidden" type="page-search" page_search="{$page_search}" rel="{:U('admin/custom/index')}" page_num="{$page_num}" /><input type="text" name="jump_num" value="{$Think.get.current_p}" style="width:100px;"/> <a href="javascript:;" class="page_jump">跳转</a></span>
                                </label>
                            </notempty>
                            {$page}
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <span style="float: right"><a class="btn btn-white btn-sm" href="{:U('Admin/Custom/edit',array('id'=>$info['id']))}"><i class="fa fa-check-circle-o"></i> 下一步 </a></span>
    </div>
</body>
<script>
        /*删除公司*/
    function cancel() {
        $('#cancel_company').parent().parent().remove();
    }
</script>
<script>
    $(document).ready(function(){
        window.parent.remove_load();
        var taobaoBsSuggest = $("#package").bsSuggest({
            indexId: 2,             //data.value 的第几个数据，作为input输入框的内容
            indexKey: 1,            //data.value 的第几个数据，作为input输入框的内容
            allowNoKeyword: false,  //是否允许无关键字时请求数据。为 false 则无输入时不执行过滤请求
            multiWord: true,        //以分隔符号分割的多关键字支持
            separator: ",",         //多关键字支持时的分隔符，默认为空格
            getDataMethod: "url",   //获取数据的方式，总是从 URL 获取
            showHeader: true,       //显示多个字段的表头
            effectiveFieldsAlias:{Id: "序号",Keyword: "名称"},
            url: "{:U('admin/match/exactSearch')}&p=", /*优先从url ajax 请求 json 帮助数据，注意最后一个参数为关键字请求参数*/
            processData: function(json){     // url 获取数据时，对数据的处理，作为 getData 的回调函数
                var i, len, data = {value: []};
                if(!json || !json.result || json.result.length == 0) {
                    return false;
                }

                console.log(json);
                len = json.result.length;

                for (i = 0; i < len; i++) {
                    data.value.push({
                        "Id": i+1,
                        "Keyword": json.result[i][0]
                    });
                }
                console.log(data);
                return data;
            }
        })});
</script>


<!-- Mirrored from www.zi-han.net/theme/hplus/form_basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:15 GMT -->
</html>
