<include file="Public/base" />
<link href="__CSS__/plugins/footable/footable.core.css" rel="stylesheet">
<link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="__CSS__/plugins/datapicker/datepicker3.css" rel="stylesheet">
<style>
#condition-search label{float:left;padding-left:5px;}
</style>
<script src="__JS__/plugins/footable/footable.all.min.js"></script>
<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__JS__/plugins/datapicker/bootstrap-datepicker.js"></script>
<body class="gray-bg">
    <div class="wrapper animated fadeInRight">
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-sm-4 m-t">
				<ol class="breadcrumb">
					<li>
						<a href="{:U('admin/index/main')}" class="btn btn-outline btn-link">管理中心</a>
					</li>
					<li>
						<a href="{:U('admin/Order/index')}" class="btn btn-outline btn-link">订单管理</a>
					</li>
					<li>
						<strong>订单列表</strong>
					</li>
				</ol>
			</div>
			<div class="arrow list-group-item-heading">
				<a class="btn btn-outline btn-default do-refresh" href="javascript:;"><i class="fa fa-refresh"></i> 刷新</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 fontawesome-icon-list">
					<div class="ibox-title">
						<h5>全部信息</h5>
						<div class="ibox-tools"><a class="btn btn-primary btn-xs do-search" href="javascript:;"><i class="fa fa-search"></i> 搜索</a></div>
					</div>
					<div class="ibox-content">
						<div id="condition-search" <eq name="Think.get.search" value="1">style="display: block;"<else />style="display: none;"</eq> class="col-sm-12">
							<form method="get">
								<!-- <label class="input-group col-sm-4"><span class="input-group-addon">订单号</span><input name="order_sn" value="<notempty name="Think.get.order_sn">{$Think.get.order_sn}</notempty>" placeholder="请输入订单号" class="form-control"></label> -->
								<label class="input-group col-sm-4"><span class="input-group-addon">IMSI</span><input name="imsi" value="<notempty name="Think.get.imsi">{$Think.get.imsi}</notempty>" placeholder="请输入IMSI" class="form-control"></label>
								<label class="input-group col-sm-4">
									<span class="input-group-addon">支付方式</span>
									<select name="pay_type" class="form-control m-b">
										<option value="">请选择</option>
                                        <option value="10" <eq name="Think.get.pay_type" value="10">selected="selected"</eq>>微信支付</option>
                                        <option value="11" <eq name="Think.get.pay_type" value="11">selected="selected"</eq>>支付宝</option>
                                        <option value="12" <eq name="Think.get.pay_type" value="12">selected="selected"</eq>>银行转账</option>
                                    </select>
								</label>
								<label class="input-group col-sm-4">
									<span class="input-group-addon">服务方式</span>
									<select name="type" class="form-control m-b">
										<option value="">请选择</option>
                                        <option value="13" <eq name="Think.get.type" value="13">selected="selected"</eq>>套餐销售</option>
                                        <option value="10" <eq name="Think.get.type" value="10">selected="selected"</eq>>开通套餐</option>
                                        <option value="11" <eq name="Think.get.type" value="11">selected="selected"</eq>>续费套餐</option>
                                        <option value="12" <eq name="Think.get.type" value="12">selected="selected"</eq>>更换套餐</option>
                                    </select>
								</label>
								<label class="input-group input-daterange col-sm-4">
									<span class="input-group-addon">订单时间</span>
									<input type="text" name="start" value="<notempty name="Think.get.start">{$Think.get.start}</notempty>" class="form-control">
									<span class="input-group-addon">到</span>
									<input type="text" name="end" value="<notempty name="Think.get.end">{$Think.get.end}</notempty>" class="form-control">
								</label>
								<label class="input-group col-sm-8"><span class="input-group-addon">公司名称</span><input name="company_name" value="<notempty name="Think.get.company_name">{$Think.get.company_name}</notempty>" placeholder="请输入所属公司" class="form-control"></label>
								<label class="input-group col-sm-8">
									<input type="hidden" name="m" value="admin" />
									<input type="hidden" name="a" value="index" />
									<input type="hidden" name="c" value="order" />
								</label>
								<label class="col-sm-4 text-right pull-right"><button type="submit" class="btn btn-outline btn-primary">立即搜索</button> <a href="{:U('admin/order/index',array('search'=>1,'p'=>$_GET['p']))}" class="btn btn-outline btn-default">重置搜索</a> <a href="{:U('admin/order/index',array('p'=>$_GET['p']))}" class="btn btn-outline btn-warning">关闭搜索</a> <if condition="Is_Auth('Admin/Order/export')"><a href="{:U('admin/order/export')}&{$page_search}" class="btn btn-outline btn-success">导出</a></if></label>
							</form>
						</div>
						<empty name="list">
						<p class="text-center">很遗憾,暂时没有相关记录！！</p>
						<else />
						<table class="footable table table-stripped" data-filter=#filter>
							<thead>
								<tr>
									<th>用户编号</th>
									<th>IMSI</th>
									<th>所属公司</th>
									<th>服务方式</th>
									<th>支付方式</th>
									<th>订单金额</th>
									<th>订单时间</th>
									<th class="center">操作</th>
								</tr>
							</thead>
							<tbody>
								<volist name="list" id="info">
								<tr>
									<td>{$info.custom_no}</td>
									<td>{$info.imsi}</td>
									<td>{$info.company_name}</td>
									<td><if condition="$info.type eq 11">续费<elseif condition="$info.type eq 10" />开通<elseif condition="$info.type eq 12" />更换<elseif condition="$info.type eq 13" />销售</if></td>
									<td><if condition="$info.pay_type eq 10">微信支付<elseif condition="$info.pay_type eq 11" />支付宝<else />银行转账</if></td>
									<td>{$info.order_account}</td>
									<td><notempty name="info.create_time">{$info.create_time|date='Y-m-d',###}</notempty></td>
									<td class="center">
										<if condition="Is_Auth('Admin/Order/view')"><a class="btn btn-white btn-sm" href="{:U('Admin/Order/view',array('id'=>$info['id']))}"><i class="fa fa-check-circle-o"></i> 查看</a></if> 
									</td>
								</tr>
								</volist>
							</tbody>
							<tfoot>
                                <tr>
                                    <td colspan="9" class="footable-visible">
										<notempty name="page">
										<label class="col-sm-3 pull-left">
											<span class="col-sm-12 pull-left">共有{$page_count}条记录 </span> <span class="col-sm-12 pull-left"> <input type="hidden" type="page-search" page_search="{$page_search}" rel="{:U('admin/order/index')}" page_num="{$page_num}" /><input type="text" name="jump_num" value="{$Think.get.current_p}" style="width:100px;"/> <a href="javascript:;" class="page_jump">跳转</a></span>
										</label>
										</notempty>
                                        {$page}
                                    </td>
                                </tr>
                            </tfoot>
						</table>
						</empty>
					</div>
				</div>
			</div>
        </div>
    <script>
        $(document).ready(function(){
			window.parent.remove_load();
			$('.del').click(function () {
				var href = $(this).attr('tar');
				swal({
					title: "您确定要删除该用户吗？",
					text: "删除后将无法恢复，请谨慎操作！",
					type: "warning",
					showCancelButton: true,
					cancelButtonText: "取消",
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "删除",
					closeOnConfirm: false
				}, function () {
					location.href=href;
				});
			});
			$(".input-daterange").datepicker({keyboardNavigation:!1,forceParse:!1,autoclose:!0});
		});
    </script>
</body>


<!-- Mirrored from www.zi-han.net/theme/hplus/table_foo_table.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:03 GMT -->
</html>