<include file="Public/base" />
<link href="__CSS__/plugins/footable/footable.core.css" rel="stylesheet">
<link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<style>
#condition-search label{float:left;padding-left:5px;}
</style>
<script src="__JS__/plugins/footable/footable.all.min.js"></script>
<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
<body class="gray-bg">
    <div class="wrapper animated fadeInRight">
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-sm-4 m-t">
				<ol class="breadcrumb">
					<li>
						<a href="{:U('admin/index/main')}" class="btn btn-outline btn-link">管理中心</a>
					</li>
					<li>
						<a href="{:U('admin/Package/index')}" class="btn btn-outline btn-link">套餐管理</a>
					</li>
					<li>
						<strong>套餐列表</strong>
					</li>
				</ol>
			</div>
			<div class="arrow list-group-item-heading">
				<a class="btn btn-outline btn-success" href="{:U('Admin/Package/add')}"><i class="fa fa-plus"></i> 添加套餐</a>
				<a class="btn btn-outline btn-default do-refresh" href="javascript:;"><i class="fa fa-refresh"></i> 刷新</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 fontawesome-icon-list">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>全部信息</h5>
						<div class="ibox-tools"><a class="btn btn-primary btn-xs do-search" href="javascript:;"><i class="fa fa-search"></i> 搜索</a></div>
					</div>
					<div class="ibox-content">
						<div id="condition-search" <eq name="Think.get.search" value="1">style="display: block;"<else />style="display: none;"</eq> class="col-sm-12">
							<form method="get">
								<label class="input-group col-sm-4"><span class="input-group-addon">套餐ID</span><input name="package_sn" value="<notempty name="Think.get.package_sn">{$Think.get.package_sn}</notempty>" placeholder="请输入套餐ID" class="form-control"></label>
								<label class="input-group col-sm-4"><span class="input-group-addon">套餐名称</span><input name="package_name" value="<notempty name="Think.get.package_name">{$Think.get.package_name}</notempty>" placeholder="请输入套餐名称" class="form-control"></label>
								<label class="input-group col-sm-4">
									<span class="input-group-addon">运营商</span>
									<select name="carrieroperator" class="form-control m-b">
										<option value="">请选择</option>
                                        <option value="10" <eq name="Think.get.carrieroperator" value="10">selected="selected"</eq>>联通</option>
                                        <option value="11" <eq name="Think.get.carrieroperator" value="11">selected="selected"</eq>>移动</option>
                                        <option value="12" <eq name="Think.get.carrieroperator" value="12">selected="selected"</eq>>电信</option>
                                    </select>
								</label>
								<label class="input-group col-sm-8">
									<input type="hidden" name="m" value="admin" />
									<input type="hidden" name="a" value="index" />
									<input type="hidden" name="c" value="package" />
								</label>
								<label class="col-sm-4 text-right pull-right"><button type="submit" class="btn btn-outline btn-primary">立即搜索</button> <a href="{:U('admin/package/index',array('search'=>1,'p'=>$_GET['p']))}" class="btn btn-outline btn-default">重置搜索</a> <a href="{:U('admin/package/index',array('p'=>$_GET['p']))}" class="btn btn-outline btn-warning">关闭搜索</a></label>
							</form>
						</div>
						<empty name="list">
						<p class="text-center">很遗憾,暂时没有相关记录！！</p>
						<else />
						<table class="footable table table-stripped" data-filter=#filter>
							<thead>
								<tr>
									<th>运营商</th>
									<th>套餐编码</th>
									<th>套餐名称</th>
									<th>套餐价格</th>
									<th>套餐周期</th>
									<th>流量周期</th>
									<th>状态</th>
									<th class="center">操作</th>
								</tr>
							</thead>
							<tbody>
								<volist name="list" id="info">
								<tr>
									<td><if condition="$info.carrieroperator eq 10">联通<elseif condition="$info.carrieroperator eq 11"/>移动<else />电信</if></td>
									<td>{$info.package_sn}</td>
									<td>{$info.name}</td>
									<td>¥{$info.price}</td>
									<td>{$info.cycle_value}<if condition="$info.cycle_unit eq year">年<elseif condition="$info.cycle_unit eq month"/>月</if></td>
									<td>{$info.value}<if condition="$info.unit eq year">年<else />月</if></td>
									<td class="center"><eq name="info.status" value="1">启用<else />禁用</eq></td>
									<td class="center">
										<if condition="Is_Auth('Admin/Package/edit')"><a class="btn btn-white btn-sm" href="{:U('Admin/Package/edit',array('id'=>$info['id']))}"><i class="fa fa-check-circle-o"></i> 修改 </a></if> 
										<if condition="Is_Auth('Admin/Package/del')"><a class="btn btn-white btn-sm del" tar="{:U('Admin/Package/del',array('id'=>$info['id']))}"><i class="fa fa-recycle"></i>  删除 </a></if>
										<if condition="Is_Auth('Admin/Package/view')"><a class="btn btn-white btn-sm" href="{:U('Admin/Package/view',array('id'=>$info['id']))}"><i class="fa fa-check-circle-o"></i> 查看</a></if> 
									</td>
								</tr>
								</volist>
							</tbody>
							<tfoot>
                                <tr>
                                    <td colspan="7" class="footable-visible">
										<notempty name="page">
										<label class="col-sm-3 pull-left">
											<span class="col-sm-12 pull-left">共有{$page_count}条记录 </span> <span class="col-sm-12 pull-left"> <input type="hidden" type="page-search" page_search="{$page_search}" rel="{:U('admin/package/index')}" page_num="{$page_num}" /><input type="text" name="jump_num" value="{$Think.get.current_p}" style="width:100px;"/> <a href="javascript:;" class="page_jump">跳转</a></span>
										</label>
										</notempty>
                                        {$page}
                                    </td>
                                </tr>
                            </tfoot>
						</table>
						</empty>
					</div>
				</div>
			</div>
        </div>
    <script>
        $(document).ready(function(){
			window.parent.remove_load();
			$('.del').click(function () {
				var href = $(this).attr('tar');
				swal({
					title: "您确定要删除该套餐吗？",
					text: "删除后将无法恢复，请谨慎操作！",
					type: "warning",
					showCancelButton: true,
					cancelButtonText: "取消",
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "删除",
					closeOnConfirm: false
				}, function () {
					location.href=href;
				});
			});
		});
    </script>
</body>


<!-- Mirrored from www.zi-han.net/theme/hplus/table_foo_table.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:03 GMT -->
</html>