<include file="Public/base" />
<link href="__CSS__/plugins/footable/footable.core.css" rel="stylesheet">
<script src="__JS__/plugins/footable/footable.all.min.js"></script>
<link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
<body class="gray-bg">
<div class="wrapper animated fadeInRight">
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-sm-4 m-t">
			<ol class="breadcrumb">
				<li>
					<a href="{:U('admin/index/main')}" class="btn btn-outline btn-link">管理中心</a>
				</li>
				<li>
					<a href="{:U('admin/User/index')}" class="btn btn-outline btn-link">用户</a>
				</li>
				<li>
					<strong>用户列表</strong>
				</li>
			</ol>
		</div>
		<div class="arrow list-group-item-heading">
			<a class="btn btn-outline btn-success" href="{:U('Admin/User/add')}"><i class="fa fa-plus"></i> 添加用户</a>
			<a class="btn btn-outline btn-default do-refresh" href="javascript:;"><i class="fa fa-refresh"></i> 刷新</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 fontawesome-icon-list">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<table class="footable table table-stripped" data-filter=#filter>
						<thead>
						<tr>
							<th>用户名</th>
							<th>昵称</th>
							<th>邮箱</th>
							<th>手机</th>
							<th>创建时间</th>
							<th>状态</th>
							<th class="center">操作</th>
						</tr>
						</thead>
						<tbody>
						<volist name="list" id="info">
							<tr>
								<td>{$info.username}</td>
								<td>{$info.nickname}</td>
								<td>{$info.email}</td>
								<td>{$info.phone}</td>
								<td>{$info.create_time|date='Y-m-d H:i',###}</td>
								<td class="center"><eq name="info.status" value="1">启用<else />禁用</eq></td>
								<td class="center">
									<if condition="Is_Auth('Admin/User/edit')"><a class="btn btn-white btn-sm" href="{:U('Admin/User/edit',array('id'=>$info['id']))}"><i class="fa fa-check-circle-o"></i> 修改 </a></if>
									<if condition="Is_Auth('Admin/User/del')"><a class="btn btn-white btn-sm del" tar="{:U('Admin/User/del',array('id'=>$info['id']))}"><i class="fa fa-recycle"></i>  删除 </a></if>
									<if condition="Is_Auth('Admin/User/view')"><a class="btn btn-white btn-sm" href="{:U('Admin/User/view',array('id'=>$info['id']))}"><i class="fa fa-check-circle-o"></i> 查看</a></if>
								</td>
							</tr>
						</volist>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="7" class="footable-visible">
								<notempty name="page">
									<label class="col-sm-3 pull-left">
										<span class="col-sm-12 pull-left">共有{$page_count}条记录 </span> <span class="col-sm-12 pull-left"> <input type="hidden" type="page-search" page_search="{$page_search}" rel="{:U('admin/company/index')}" page_num="{$page_num}" /><input type="text" name="jump_num" value="{$Think.get.current_p}" style="width:100px;"/> <a href="javascript:;" class="page_jump">跳转</a></span>
									</label>
								</notempty>
								{$page}
							</td>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script>
        $(document).ready(function(){
            window.parent.remove_load();
            $('.del').click(function () {
                var href = $(this).attr('tar');
                swal({
                    title: "您确定要删除该用户吗？",
                    text: "删除后将无法恢复，请谨慎操作！",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: "取消",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "删除",
                    closeOnConfirm: false
                }, function () {
                    location.href=href;
                });
            });
        });
	</script>
</body>


<!-- Mirrored from www.zi-han.net/theme/hplus/table_foo_table.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:20:03 GMT -->
</html>